{%extends "base.html"%}
    {%block head%}
      {{ super() }}
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/sign_up.css') }}">
        <title>Sign Up</title>
    {%endblock%}
    {%block content%}
    <main class="container">
      <section class="form">
        <p class="login-text">Create Your Account</p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="flashes">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <form class="sign-up-form" action="{{url_for('sign_up')}}" method="POST">
            <input class="name" name="name" type="text" placeholder="Name">
            <input class="email" name="email" type="text"  placeholder="Email">
            <input class="password" name="password" type="password"  placeholder="Password">
            <div class="d-o-b">
              <input name="month" type="number"  placeholder="MM" min="1" max="12">
              <input name="day" type="number"  placeholder="DD" min="1" max="31">
              <input name="year" type="number"  placeholder="MM" min="{{ current_year - 90 }}" max="{{current_year}}"> <!-- Pass in var with the latest year for max and minus 100 of max year to get min year  -->
            </div>
            <button class="sign-up-button" name="sign-up">Sign Up</button>
        </form>
        <form class="register-form" action="{{url_for('login')}}" method="GET">
            <button class="login-button">Login</button>
        </form>
      </section>
    </main>
    {%endblock%}