.product{
  margin:  220px 50px 50px 50px;
  padding: 30px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(37, 37, 37);
  color: white;
}
.product-images{
  display: flex;
  flex-direction: row;
}
.secondary-images{
  width: 80px;
  height: 250px;
  display: flex;
  object-fit: contain;
  flex-direction: column;
  justify-content: space-between;
}
.secondary-images img{
  width: 100%;
  cursor: pointer;
}
.main-image{
  width: 500px;
  margin-left: 25px;
  margin-right: 25px;
}
.main-image img{
  width: 100%;
}
.product-info{
  display: flex;
  flex-direction: column;
}
.product-info p{
  margin: 0px;
}
.reviews{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.review-bar{
  width: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}
.review-bar img{
  width: 20px
}
.amount-of-reviews{
  text-decoration: underline;
  cursor: pointer;
}

.product-name{
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 20px;
}
.favorite-form{
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  align-items: center;
}
.add-to-favorites{
  width: 100px;
  color: white;
  margin-left: 20px;
  border:radius: 30px;
  background-color: rgb(57, 57, 57);
}
.add-to-favorites:hover{
  color: white;
  background-color: rgb(77, 77, 77);
}
.price{
  padding-right: 30px;
}
.product-info form button{
  border: none;
  padding: 10px;
  border-radius: 7px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
.add-to-cart{
  background-color:#CD6B30ff;
  margin-bottom: 15px;
  width: 200px;
}
.buy-now{
  background-color: #E79A67ff;
  width: 200px;
}
.product-description{
  margin-top: 50px;
}
.product-description .heading{
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 20px;
}

@media (min-width: 517px) and (max-width: 1200px){
  .product{
    min-width:1045px;
  }
  .main-image{
    width: 450px;
    position: relative;
  }
}